
/*MY CODE*/
textarea {
	width: 100px;
	height: 80px;
	background-color: #fff;
	resize: none;
}

button {
	width: 200px;
	height: 40px;
	background-color: #282828;
	border: none;
	color: #fff;
	font-family: sterif;
	font-weight: 400;
	cursor: pointer;
}


.main-wrapper {
	margin: 0 auto;
	width: 1000px;
}

.main-container {
	padding-top: 40px;
}

.main-container h2 {
	padding-top: 40px;
	font-family: sterif;
	font-size: 40px;
	color: #111;
	line-height: 50px;
	text-align: center;
}


a {
	text-decoration: none;
}

header .nav-login {
	float: right;
	
}

header .nav-login form {
	float: left;
	padding-top: 15px;	
}

header .nav-login form input {
	float: left;
	width: 140px;
	height: 30px;
	padding: 0px 10px;
	margin-right: 10px;
	border: none;
	background-color: #ccc;
	font-family: sterif;
	font-size: 14px;
	color: #111;
	line-height: 30px;
}

header .nav-login form button {
	float: left;
	width: 60px;
	height: 30px;
	margin-right: 10px;
	border: none;
	background-color: #f3f3f3;
	font-family: sterif;
	font-size: 14px;
	color: #111;
	cursor: pointer;
}

header .nav-login a {
	display: block;
	width: 60px;
	height: 60px;
	border: none;
	float: left;
	background-color: #fff;
	font-family: sterif;
	font-size: 16px;
	color: #111;
	line-height: 63px;
	cursor: pointer;
}
	
header .nav-login form button:hover {
	background-color: #ccc;
}


.header-nav {
	width: 100px;
	height: 60px;
	background-color: #fff;
}

body {
	background-color:#B6BAB6;
}

header nav ul {
	float: left;
}

header nav li {
	float: left;
	list-style: none;
}

header nav li a {
	font-family: sterif;
	font-size: 16px;
	color: #111;
	line-height: 63px;
}


/* stylelint-disable selector-list-comma-newline-after */

.blog-header-logo {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
	font-family: 'Passion One', cursive;
}

.blog-header-logo:hover {
  text-decoration: none;
}


.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: left;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #343434;
  text-align: center;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/*
 *Comment
 */
.comment{
	margin: 10px;
}

.comment img{
	margin: 5px;
	float: left;
}

.signup-container h2 {
	font-family: serif;
	font-size: 40px;
	color: #111;
	line-height: 50px;
	text-align: center;
}

.signup-form {
	width: 500px;
	margin: 0 auto;
	padding-top: 30px;
	padding-left:28px;
	display: block;
	margin: 0 auto;
	width:25%;
	height: 40%;
	border: none;
	background-color: #222;
	font-family: serif;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}

.signup-form input{
	height: 40px;
	width:198px;
	padding: 0px;
	border: none;
	margin-bottom:4px;
	background-color: #fff;
	font-family: sterif;
	font-size: 16px;
	color: #111;
	line-height: 40px;
	border-radius: 2px;
	text-align:center;
}

.signup-form button{
	margin: 10px auto;
	margin-left:48px;
	display: block;
	width: 100px;
	height: 40px;
	border: none;
	background-color: #B6BAB6;
	font-family: sterif;
	font-size: 16px;
	color: #343434;
	cursor: pointer;
	border-radius: 7px;
}

.signup-form button:hover{
	background-color: #5B5D5B;

}